<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="nl" > <![endif]-->
<html class="no-js" lang="nl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gassan - HOME</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../components/modernizr/modernizr.js"></script>
</head>

<body>

<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <a class="left-off-canvas-toggle menu-icon show-for-medium-down" href="#">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- Off canvas menu goes here -->
            <ul class="off-canvas-list">
                <li><label>Gassan</label></li>
            </ul>
        </aside>

        <div class="topBar"> <!-- Fixed topbar -->
            <div class="row">
                <div class="small-12 medium-6 columns show-for-large-up">
                    <div class="usp">
                        <span>100 dagen return right</span>
                        <span>altijd verzekerd</span>
                        <span>gratis verzenden & return</span>
                    </div>
                </div>

                <div class="small-12 medium-6 columns">
                    <ul class="menu">
                        <li class="valuta">
                            <a data-options="align:left" data-dropdown="currencyDropdown" title="Valuta: EUR" data-foo="&euro;" href="#">Valuta</a>
                            <ul id="currencyDropdown" class="currency f-dropdown content" data-dropdown-content>
                                <section>
                                    <h2 class="title">Gewenste valuta</h2>
                                </section>

                                <article class="currencyChoice">
                                    <div class="row">
                                        <form>
                                            <div class="small-6 columns">
                                                <label for="eur" class="currencyValue eur"><input type="radio" id="eur" name="radio" class="styled"/> EUR</label>
                                                <label for="jpy" class="currencyValue jpy"><input type="radio" id="jpy" name="radio" class="styled"/> JPY</label>
                                                <label for="usd" class="currencyValue usd"><input type="radio" id="usd" name="radio" class="styled"/> USD</label>
                                            </div>

                                            <div class="small-6 columns">
                                                <label for="gbp" class="currencyValue gbp"><input type="radio" id="gbp" name="radio" class="styled"/> GBP</label>
                                                <label for="aud" class="currencyValue aud"><input type="radio" id="aud" name="radio" class="styled"/> AUD</label>
                                                <label for="cny" class="currencyValue cny"><input type="radio" id="cny" name="radio" class="styled"/> CNY</label>
                                            </div>
                                        </form>
                                    </div>
                                </article>
                            </ul></li>
                        <li class="search"><a href="#">Zoeken</a></li>
                        <li class="login"><a href="#">Login</a></li>
                        <li class="bag" data-options="align:left" data-dropdown="bagDropdown">
                            <a href="#" title="8 products" data-foo="8">Bag</a></li>
                            <ul id="bagDropdown" class="shoppingBag f-dropdown content" data-dropdown-content>
                                <section>
                                    <h2 class="title">Uw producten</h2>
                                </section>

                                <section class="productlist">
                                    <article class="product odd">
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <div class="image"><img src="http://placehold.it/65x65"></div>
                                            </div>
                                            <div class="small-8 columns">
                                                <div class="product-title">Product title 1</div>
                                                <div class="price">€ 7.122,00</div>
                                                <div class="edit-link"><a href="#">wijzigen</a></div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="product even">
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <div class="image"><img src="http://placehold.it/65x65"></div>
                                            </div>
                                            <div class="small-8 columns">
                                                <div class="product-title">Product title 1</div>
                                                <div class="price">€ 7.122,00</div>
                                                <div class="edit-link"><a href="#">wijzigen</a></div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="product odd">
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <div class="image"><img src="http://placehold.it/65x65"></div>
                                            </div>
                                            <div class="small-8 columns">
                                                <div class="product-title">Product title 1</div>
                                                <div class="price">€ 7.122,00</div>
                                                <div class="edit-link"><a href="#">wijzigen</a></div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="product even">
                                        <div class="row">
                                            <div class="small-4 columns">
                                                <div class="image"><img src="http://placehold.it/65x65"></div>
                                            </div>
                                            <div class="small-8 columns">
                                                <div class="product-title">Product title 1</div>
                                                <div class="price">€ 7.122,00</div>
                                                <div class="edit-link"><a href="#">wijzigen</a></div>
                                            </div>
                                        </div>
                                    </article>
                                </section>


                                <section class="subtotal">
                                    <p class="title">Subtotaal</p><p class="price">€ 7.122,00</p>
                                </section>

                                <a class="button">Afrekenen</a>
                            </ul>
                        </ul>
                </div>
            </div>
        </div> <!-- End of topbar -->

        <div class="pageHeader fullWidth">
            <div class="headerNav">
                <div class="row">

                    <div class="top">
                        <div class="small-12 medium-4 columns">&nbsp;</div>
                        <div class="small-12 medium-4 columns">
                            <div class="logo">
                                <img src="../images/logo.png">
                            </div>
                        </div>

                        <div class="small-12 medium-4 columns">
                            <div class="navSecondary show-for-large-up">
                                <ul class="menu">
                                    <li class="first"><a href="#">Tours</a>
                                    <li><a href="#">Nieuws</a>
                                    <li><a href="#">Gazan</a></li>
                                    <li class="last"><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bottom show-for-large-up">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="navPrimary">
                                <ul class="menu">
                                    <li><a class="has-subs active" href="#">Juwelen</a>
                                        <ul class="submenu">
                                            <div class="row">
                                                <div class="inner">
                                                    <li>Linkje 1</li>
                                                    <li>Linkje 2</li>
                                                    <li>Linkje 3</li>
                                                    <li>Linkje 4</li>
                                                </div>
                                            </div>
                                        </ul></li>
                                    <li><a class="has-subs" href="#">Diamanten</a>
                                        <ul class="submenu">
                                            <div class="row">
                                                <div class="inner">
                                                    <li>Linkje 1</li>
                                                    <li>Linkje 2</li>
                                                    <li>Linkje 3</li>
                                                    <li>Linkje 4</li>
                                                </div>
                                            </div>
                                        </ul></li>
                                    <li><a class="has-subs" href="#">Horloges</a>
                                        <ul class="submenu">
                                            <div class="row">
                                                <div class="inner">
                                                    <li>Linkje 1</li>
                                                    <li>Linkje 2</li>
                                                    <li>Linkje 3</li>
                                                    <li>Linkje 4</li>
                                                </div>
                                            </div>
                                        </ul></li>
                                    <li><a class="has-subs" href="#">Trouwen</a>
                                        <ul class="submenu">
                                            <div class="row">
                                                <div class="inner">
                                                    <li>Linkje 1</li>
                                                    <li>Linkje 2</li>
                                                    <li>Linkje 3</li>
                                                    <li>Linkje 4</li>
                                                </div>
                                            </div>
                                        </ul></li>
                                    <li><a class="has-subs" href="#">Ringen</a>
                                        <ul class="submenu">
                                            <div class="row">
                                                <div class="inner">
                                                    <li>Linkje 1</li>
                                                    <li>Linkje 2</li>
                                                    <li>Linkje 3</li>
                                                    <li>Linkje 4</li>
                                                </div>
                                            </div>
                                        </ul></li>
                                    <li><a class="has-subs" href="#">Merken</a></li>
                                    <li><a class="has-subs" href="#">Gifts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="keyVisual-large">
                <ul id="keyVisual" data-orbit data-options="animation:fade;">
                    <li class="orbit-slide" style="background:url(../images/keyvisual-about.png);">
                        <div class="row">
                            <div class="keyvisualContent-block">
                                <div class="inner">
                                    <h1 class="maintitle">Over Gassan</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="pageContent"><!--Main content starts here -->

            <section class="attentionText about">
                <div class="row">
                    <div class="small-12 columns">
                        <h3>Gassan staat voor diamanten, juwelen en luxe uurwerken.
                            het merk gassan representeert handwerk, bewezen kwaliteit
                            en betrouwbaarheid al meer dan 69 jaar.</h3>
                    </div>
                </div>
            </section>

            <section class="gassanAbout">
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="image">
                            <img src="../images/historie.png">
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="bodyText">
                            <p><strong>Gassan Diamonds was founded by Samuel Gassan in 1945. He established the company’s offices at the Amsterdam Diamond Exchange on the Weesperplein in Amsterdam.</strong></p>

                            <p>Nowadays Gassan has 500 employees. several international shops and a head office in the diamond factory on Nieuwe Uilenburgerstraat in Amsterdam. The historic diamond factory used to be powered by steam. 2011 has been a turning point for Gassan, since Benno Leeser became the sole shareholder in the Gassan holding on 1 November.</p>
                            <p>A clear branding strategy for the company was also developed in that year. Gassan is proud that its duty-free shops at Amsterdam Schiphol Airport carry its brand name since April 2011. The Amsterdam Diamond Centre was transformed into a sophisticated Gassan flagship store in signature Gassan style – with international appeal, yet retaining the intimacy associated with a family company.</p>
                            <p>On 8 December 2011, Gassan launched the most recent Gassan jewelry collections at the Millionaire Fair: Gassan Junior, Special Moments, and the Haute Joaillerie collection with its proprietary Gassan 121 cut diamond.</p>

                            <p><strong>Gassan, a brilliant choice.</strong></p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="storyNavigator">
                <div class="row fullWidth">
                    <div class="small-6 columns">
                        <div class="prev"><a class="left">Historie</a></div>
                    </div>
                    <div class="small-6 columns">
                        <div class="next"><a class="right">Locaties</a></div>
                    </div>
                </div>
            </section>

        </div><!-- Main content ends here -->

        <div class="pageFooter fullWidth"> <!--Footer starts here -->
            <div class="row">
                <div class="medium-1 show-for-medium-up columns">&nbsp;</div>
                <div class="small-6 medium-2 columns">
                    <h3>Home</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Over Gassan</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Merken</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Top categorieen</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Diensten</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="medium-1 show-for-medium-up columns">&nbsp;</div>
            </div>

            <div class="row">
                <div class="medium-1 show-for-medium-up columns">&nbsp;</div>
                <div class="small-6 medium-2 columns">
                    <h3>Home</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Over Gassan</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Merken</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Top categorieen</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="small-6 medium-2 columns">
                    <h3>Diensten</h3>
                    <ul class="menu">
                        <li>jewelry</li>
                        <li>diamonds</li>
                        <li>watches</li>
                        <li>wedding</li>
                        <li>engagement rings</li>
                        <li>brands</li>
                        <li>gifts</li>
                    </ul>
                </div>
                <div class="medium-1 show-for-medium-up columns">&nbsp;</div>
            </div>
        </div>


        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

    </div>
</div>

    <script src="../components/jquery/dist/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="../components/foundation/js/foundation.min.js"></script>
    <script src="../components/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="../components/fastclick/lib/fastclick.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../js/jquery.sticky.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/formElements.js"></script>
    <script src="../js/jquery.sudoSlider.min.js"></script>

    </body>
</html>