.gassanCareers {
  position:relative;
  height: auto;
  overflow: hidden;
  font-size: rem-calc(16);

  h2 {
    font-size: rem-calc(18)!important;
    font-weight: 700;
  }

  .bodyText {
    padding-bottom: rem-calc(60)!important;

    p {
      font-weight: normal;
    }
  }

  .inner {
    position: relative;
    overflow: hidden;

    .title {
      p {
        font-weight: 700;
      }
    }
  }

  .subtitle {
    &.page {
      margin-bottom: $column-gutter;
      padding-bottom: rem-calc(20);
      border-bottom: 1px solid $section-border-color;
    }
  }

  .gassanJobs {
    overflow: hidden;

    .careerTitle {
      overflow:hidden;
    }

    .careerDescription {
      padding: rem-calc(20 0);
      margin-bottom: rem-calc(20);
      overflow: hidden;

      .leftColumn,
      .rightColumn {
        position: relative;
        float: left;
        width: 50%;
        overflow: hidden;

        .button {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

    }

    .careerTitle {
      padding-bottom: rem-calc(20);
      margin-bottom: rem-calc(20);
      overflow: hidden;

      .ui-state-focus,
      .ui-state-active,
      .ui-accordion-header-active {
        outline: none !important;
        box-shadow: none;
        border: 0;
      }
    }

    .links {
      padding-bottom: $column-gutter * 2;

      ul {
        padding: 0;

        li {
          display: block;
          border-bottom: 1px dashed $section-border-color;
          padding: 0;
          margin: 0;

          a {
            display: block;
            width: 100%;
            height: 100%;
            padding: rem-calc(8 8 8 0);
            text-transform: uppercase;
            font-size: rem-calc(14);
            color: $body-font-color;

            &.active,
            &.ui-state-active {
              color: $gassan-gold;

              &:after {
                content: "";
                position: relative;
                float: right;
                width: rem-calc(43);
                height: rem-calc(42);
                margin-top: rem-calc(-9);
                margin-right: rem-calc(-8);
                padding-top: rem-calc(20);
                padding-left: rem-calc(20);
                background-image: url('../images/arrow-white-down.png');
                background-repeat: no-repeat;
                background-position: 16px 19px;
                background-color: darken($gassan-gold, 10%);
                font-size: rem-calc(26);
                font-weight: 300;
                color: #ffffff;
              }

              &:hover {
                &:after {
                  content: "";
                  position: relative;
                  float: right;
                  width: rem-calc(44);
                  height: rem-calc(44);
                  margin-top: rem-calc(-9);
                  margin-right: rem-calc(-8);
                  padding-top: rem-calc(20);
                  padding-left: rem-calc(20);
                  background-image: url('../images/arrow-white-down.png');
                  background-repeat: no-repeat;
                  background-position: 16px 19px;
                  background-color: darken($gassan-gold, 10%);
                  font-size: rem-calc(26);
                  font-weight: 300;
                  color: #ffffff;
                }
              }
            }

            &:hover {
              color: $gassan-gold;

              &:after {
                content: "";
                position: relative;
                float: right;
                width: rem-calc(44);
                height: rem-calc(44);
                margin-top: rem-calc(-9);
                margin-right: rem-calc(-8);
                padding-top: rem-calc(20);
                padding-left: rem-calc(20);
                background-image: url('../images/arrow-white.png');
                background-repeat: no-repeat;
                background-position: 18px 16px;
                background-color: $gassan-gold;
                font-size: rem-calc(26);
                font-weight: 300;
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    .formApplication {
      clear: both;
      overflow: hidden;
      padding: rem-calc(20 0 0 0);

      .inner {
        @media #{$large-up} {
          margin-left: -$column-gutter / 2;
        }
      }

      label {
        @extend .micro-header;
        text-align: left;
        font-size: rem-calc(12);
        color: #7f8080;
        margin-bottom: rem-calc(5);
      }
    }

  }

}