.navSecondary{
  height: 100%;
  width: 100%;
  padding-top: rem-calc(30px);
  text-align: right;

  @media #{$medium-up} {
    display: block;
  }

  .menu {
    display: block;
    font-size: rem-calc(13px);
    font-family: $body-font-family;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    color: #7f8080;

    li {
      @media #{$medium-up} {
        padding: rem-calc(0 8px);
      }
      @media #{$large-up} {
        padding: rem-calc(0 10px);
      }

      &:after {
        content: "\00a0";
        position: relative;
        overflow: hidden;
        display: inline;
        width: rem-calc(5);
        height: rem-calc(15);
        border-left: 1px dotted #8b8c8c;
        left: rem-calc(10);
      }

      &.last {
        padding-right: 0;

        &:after {
          border: 0;
        }
      }

      a {
        text-decoration: none;
        color: lighten(#7f8080, 15%);

        &:hover {
          color: darken(#7f8080, 30%);
        }
      }
    }

  }
}