.newsOverview {

  .sectionTitle {
    display: block;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-family: $secondary-font;
    font-size: rem-calc(26);
    font-weight: bold;
    padding-top: rem-calc(40);
  }

  .highlighted {

    .postdate {
      @extend .micro-header;
      text-align: left;
      margin-top: rem-calc(20);
    }

    .title {
      margin-top: rem-calc(20);

      p {
        font-size: rem-calc(27);
        text-decoration: underline;
        text-transform: uppercase;
        line-height: 1.5;
        font-family: $secondary-font;
      }
    }

    .bodyText {
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
    }
  }

  .maintitle {
    position: relative;
    overflow: hidden;
    padding-top: $column-gutter / 2;
    padding-bottom: $column-gutter;
    border-bottom: 1px solid $section-border-color;
    @extend .micro-header;

    h1 {
      padding: 0;
    }
  }

  .latestNews {
    margin-bottom: $column-gutter;

    .elementPanel {
      border: 0;

      .image {
        display: block;
        margin-bottom: rem-calc(8);
      }

      .postdate {
        width: 100%;
        height: rem-calc(12px);
        text-align: left;
        color: #bababa;
        padding-top: $column-gutter / 2;
        padding-top: $column-gutter / 2;
        @extend .micro-header;
      }

      .title {
        font-weight: normal;
        line-height: rem-calc(24);
        font-size: rem-calc(18);
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
        padding-top: $column-gutter / 2;
        padding-bottom: $column-gutter / 2;
        margin-top: rem-calc(8);

        a {
          color: $body-font-color;

          &:hover {
            color: $gassan-gold;
          }
        }
      }

      .bodyText {
        font-size: rem-calc(16);
        clear: both;
        margin-bottom: rem-calc(60);

        p {
          margin-bottom: rem-calc(8);
        }
      }

      .read {
        position: absolute;
        bottom: rem-calc(10);

        @media #{$medium-up} {
          bottom: rem-calc(-25);
        }

        .more {
          display: block;
          padding-top: $column-gutter / 2;
          padding-bottom: $column-gutter / 2;
          color: $body-font-color;
          text-transform: uppercase;
          font-size: rem-calc(14);
          font-weight: bold;

          &:hover {
            color: $gassan-gold;
          }
        }
      }

    }
  }

}