.shoppingCart {
  .elementPanel {
    margin-bottom: 0;
  }

  article {
    border-bottom: 1px dotted $section-border-color;
    padding: rem-calc(20);

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .package {
    display: none;
    height: auto;
    width: 100%;
    padding: rem-calc(20);
    overflow: hidden;

    .inner {
      padding: rem-calc(10);
      width: rem-calc(140);

      .package-img {
        display: block;
        clear: both;
      }

      .package-msg {
        height: rem-calc(240);
        margin-top: rem-calc(20);
      }

      li {
        display: block;
        list-style-type: none;
        margin: 0 auto;
        width: rem-calc(140);
      }


      .package-title {
        padding-top: rem-calc(10);
        clear: both;
      }

      .checkbox {
        margin: 0;
      }
    }
  }

  .product-image {
    position: relative;
    width: rem-calc(110);
    height: rem-calc(110);
    margin: 0;
  }

  .product-info {
    margin: rem-calc(20) 0 rem-calc(2) 0;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-size: rem-calc(16);

    .title, .price {
      padding: rem-calc(0);
      margin: 0;
      font-weight: normal;
    }
  }

  .product-price {
    margin: 0;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-size: rem-calc(16);
  }

  .product-choice {
    display: block;
    padding-top: rem-calc(20);

    p {
      padding: 0!important;
      margin: 0;
      text-transform: uppercase;
      font-family: $body-font-family;
      font-size: rem-calc(13);
    }
  }

  .secondaryButton {
    margin-top: rem-calc(20);
  }

  .call-to-action {
    border-top: 1px solid $section-border-color;
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }
}

